@charset "EUC-KR";
body{
  padding: 0;
  margin: 0;
  background-color: skyblue;
  
  
}
div{
  box-sizing: border-box;
}


.menu{
  position:absolute;
  width:700px;
  height:800px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.menu h1 {
  text-align: center;
  margin: 30px;
}

.menu h3 {
  text-align: center;
  margin: 30px;
}


.listContainer{  
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.listContainer .title{
	text-align: center;
	width : 180px;
	margin-right : 10px
	
}

.listContainer .title_icon{
	width : 50px;
	margin-right : 10px
	
}

.listContainer .main{
  text-align: center;
  background-color: #ffffff;
  font-size: 16px;
  width : 400px;
  height :45px;
  position: relative;
  border-bottom: 2px solid #adadad;
  
	
}
.listContainer .item{  
  display: flex;
  align-items: center;
  padding: 16px;
  color: black;
  text-decoration: none;  
  height: 56px;
  box-sizing: border-box;
}

.listContainer .text{
  line-height : 40px ;
  background-color: skyblue;
  color:white; 
  font-weight: bold;
  display:inline;
  transform: translateX(-50%);
  left:50%;
  border:none;
  font-size: 16px;
  width : 550px;
  height :40px;
  position: relative;
  text-align:center;
  
}




